@font-face {
    font-family: 'Trip Sans Bold';
    src: url('./assets/fonts/Trip-Sans-Font/trip-sans-bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@media screen(max-width: 768px) {
    body {
        background-image: url('./assets/background/bg-vertical.svg');
        display: grid;
        place-items: center;
        align-items: center;
    }
}

body {
    background-image: url('./assets/background/bg-horizontal.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: grid;
    place-items: center;
    align-items: center;
    font-family: 'Trip Sans', sans-serif;
}

h1 {
    color: white;
    font-family: 'Trip Sans Bold', sans-serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    transition: all 0.3s;
}

h1::selection {
    background-color: rgba(255, 255, 0, 0.765);
}

h2 {
    color: white;
    font-family: 'Trip Sans Bold', sans-serif;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    transition: all 0.3s;
}

h2::selection {
    background-color: rgba(255, 255, 0, 0.765);
}

.whoAmI {
    height: 10vh;
}

p {
    color: white;
    font-family: 'Trip Sans Bold', sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    padding: 0px;
    margin: 0px;
    transition: all 0.3s;
}

p::selection {
    background-color: rgba(255, 255, 0, 0.765);
}

.aboutImagesDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutImages {
    height: 100vh;
    padding: 0px;
    margin: 50px;
    width: 320px;
    height: 320px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 5px;
    display: inline;
    transition: all 0.3s;
}

.aboutImages {
    opacity: 0;
    filter: blur(5px);
    transform: translateX (-100%);
    transition: all 1s;
}
    
.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%);
}

.myWorkHeading {
    margin-top: 30vh;
    height: 15vh;
}

.contactMe {
    height: 15vh;
    margin-top: 30vh;
}